.itemDetailContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    /*align-items: flex-start;*/
    height: 50vh;
    border-color: var(--clr-light-grey);

}

.itemImageContainer {
    max-height: 450px;
    max-width: 450px;
    width: 50%;
    height: 50vh;
}

.itemImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;


}

.detailsInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    font-weight: lighter;
    margin-right: 2rem;
    padding-top: 1rem;
}

.actionButtons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.actionButtons button {
    padding: 0.5rem;
    border: 1px solid var(--clr-light-green);
    color: white;
    background-color: var(--clr-dark-green);
    width: 6rem;
}

.actionButtons button:hover {
    background-color: var(--clr-white);
    color: black;
    cursor: pointer;
}

.actionButtonLink {
    text-decoration: none;
    color: white;
}

.actionButtonLink:hover {
    color: black;
}

.itemPrice {
    font-size: 3rem;
    font-weight: lighter;
}

.itemTitle {
    font-size: 2rem;
    color: #704786;
}
.itemCategory {
    color: darkgrey;
    margin-bottom: 1rem;
}

.itemDescription {
    margin-bottom: 1rem;
    font-size: 1rem;
}



.comments {
    margin: auto auto 1rem;
    background-color: var(--clr-light-green);
    width: 60%;
    padding: 1rem;
}

.comment{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--clr-light-grey);
    margin-bottom: 1rem;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
}
.comment p{
    padding-right: 0.5rem;
}
.logoImg {
    height: auto;
    max-height: 7vh;
}


.formSubmit {
    padding: 0.5rem;
    border: 1px solid var(--clr-light-green);
    color: black;
    background-color: var(--clr-white);
    width: 6rem;
}

.formSubmit:hover {
    background-color: var(--clr-dark-green);
    color: white;
    cursor: pointer;
}

.inputTextField{
    width: 300px;
    height: 2.5rem;
    border: none;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.noCommentsMessage{
    color: #704786;
}

.buttonDetailsLink{

}