
#login {
    background-color: var(--clr-light-grey);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#login .image__container .image {
    height: 80vh;
}

#login .login__form .email {
    display: block;
    width: 50vh;
    margin: 1rem;
    background-color: var(--clr-light-grey);
    border: 1px solid black;
}

#login .login__form .password {
    display: block;
    width: 50vh;
    margin: 1rem;
    background-color: var(--clr-light-grey);
    border: 1px solid black;
}

#login .login__form .submit {
    display: block;
    width: 50vh;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: var(--clr-dark-green);
    border: 1px solid black;
    margin-bottom: 0;
    font-weight: lighter;

}

#login .login__form h3 {
    font-weight: lighter;
    font-size: 1.5rem;
    text-align: center;
}

#login .login__form h5 {
    font-weight: lighter;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
